@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-poppins);
  
}

body{
  overflow-x: hidden;
  background-color: linear-gradient(to bottom, #000000, #111111);
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  scrollbar-width: none;
}